.PageHeader{
	height: 100px;
	width: 874px;
	margin: auto;
	margin-top: 10px;
	background-color: darkseagreen;
	border: 2px solid seagreen;
}
.PageHeader > p{
	font-size: 24px;
	color: white;
	text-align: center;
	padding-top: 0.5em;
}