.Coming-Soon-Box{
	height: 100px;
	width: 874px;
	margin: auto;
	margin-top: 10px;
	background-color: lightskyblue;
	border: 2px solid seagreen;
}
.Coming-Soon-Box > h2{
	text-align: center;
	color: red;
}