@import url("http://127.0.0.1/Server-Website/Framework/API/Components/Import/pure.css");
.InfoBox{
	border: 0.75px solid red;
    background-color: antiquewhite;
    width: 410px;
    margin: auto;
    margin-top: 6em;
}
.Info{
	text-align: center;
}