.DetailsBox{
	height: 158px;
    width: 150px;
    background-color: cornflowerblue;
    position: fixed;
}
ul{
    list-style-type:circle;
}
ul > .DetailText{
    font-size: 12px;
    margin-left: -20px;
}